- model_class = @membership.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:group_id) + ':'
  %br
  = @membership.group_id
%p
  %strong= model_class.human_attribute_name(:user_id) + ':'
  %br
  = @membership.user_id

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), memberships_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_membership_path(@membership), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), membership_path(@membership), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
